$font-stack: "Chivo";
$font-bold: 700;
$primary-color: #54E6AF;
$secondary-color: #C2CBE5;
$background-color: rgba(18, 23, 37, 0.9);
$background-color-tablet: rgb(18, 23, 37);
$pure-white: #FFFFFF;

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: 0;
}

body {
    font-size: 100%;
    list-style-type: none;
    font-family: $font-stack;
    font-weight: 300;
    background-image: url(./assets/mobile/image-host.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    overflow-x: hidden;
}

.container {
    text-align: center;
    background-color: $background-color;
    padding-bottom: 94px;
    position: relative;
}

#pod-logo {
    margin-top: 3.875rem;
    margin-bottom: 3.5625rem;
}

h1 {
    font-size: 1.625rem;
    line-height: 2.375rem;
    color: $primary-color;
    text-transform: uppercase;
    font-weight: 300;

    span {
        color: $pure-white;
    }
}

.description {
    color: $secondary-color;
    font-size: 0.9375rem;
    line-height: 1.5625rem;
    margin: 1rem 1.5rem 2.0625rem 1.5rem;
}

.streaming {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.875rem 3rem 1.875rem;

    img {
        opacity: 0.8;
    }
}

#spotify {
    width: 56px;
    height: 17px;
}

#apple {
    width: 45px;
    height: 17px;
}

#google {
    width: 73px;
    height: 11px;
}

#pocket {
    width: 77px;
    height: 15px;
}

#email {
    display: block;
    width: 20.4375rem;
    height: 2.875rem;
    margin: 0 auto;
    padding-left: 2rem;
    border-radius: 1.75rem;
    background-color: #2C344B;
    color: #C2CBE5;
    font-weight: $font-bold;
    font-size: 0.875rem;
}

#email:focus {
    color: $pure-white;
}

button {
    margin-top: 1rem;
    background: $primary-color;
    color: #121725;
    font-weight: $font-bold;
    width: 20.375rem;
    height: 2.875rem;
    border-radius: 1.75rem;
}

button:hover {
    background: #B3FFE2;
    cursor: pointer;
}

.form-error {
    color: #FB3E3E;
    font-weight: 700;
    font-size: 0.75rem;
    position: absolute;
    left: 0;
    right: 0;
}

footer {
    display: none;
}

@media screen and (min-width: 768px) {
    body {
        background-image: url(./assets/tablet/image-host.jpg);
        background-position: right top;
        background-blend-mode: normal;
        background-size: 30.6875rem;
        background-color: $background-color-tablet;
    }

    .container {
        background-color: unset;
        text-align: unset;
        width: 100%;
    }

    #pod-logo {
        margin-left: 2.4375rem;
        margin-top: 3.125rem;
    }

    .content {
        background-color: $background-color-tablet;
        padding-top: 5.8125rem;
        margin-right: 5.875rem;
        margin-left: 0;
        margin-top: 5.5625rem;
    }

    h1 {
        text-align: left;
        font-size: 2.667rem;
        line-height: 3.5rem;
        margin-left: 2.4375rem;
    }

    .description {
        font-size: 1.125rem;
        line-height: 1.75rem;
        margin-left: 2.4375rem;
        margin-right: 11.875rem;
        margin-top: 1.9375rem;
    }

    .adjust {
        display: flex;
        flex-direction: column-reverse;
    }

    #email {
        width: 26.6875rem;
        height: 3.5rem;
        margin-left: 2.4375rem;
    }

    button {
        position: absolute;
        left: 18.6875rem;
        bottom: 12.6875rem;
        width: 10.125rem;
        height: 2.875rem;
    }

    #spotify {
        width: 6rem;
        height: 1.8125rem;
    }

    #apple {
        width: 4.875rem;
        height: 1.8125rem;
    }

    #google {
        width: 7.8125rem;
        height: 1.125rem;
    }

    #pocket {
        width: 8.0625rem;
        height: 1.625rem;
    }

    .streaming {
        margin-top: 4.625rem;
        padding: 0;
        padding-right: 6.1875rem;
        margin-left: 2.4375rem;
    }

    .form-error {
        margin-left: 2.4375rem;
        padding-left: 32px;
        padding-top: 0.5rem;
    }

    footer {
        display: block;
        position: absolute;
        width: 14.5rem;
        height: 6.5rem;
        left: 1.875rem;
        top: 57.5rem;
    }
}

@media screen and (min-width: 1440px) {
    html {
        max-width: 1440px;
        margin: 0 auto;
    }

    body {
        background-image: url(./assets/desktop/image-host.jpg);
        background-blend-mode: normal;
        background-size: 55.5rem 40rem;
        background-position: right 8.125rem;
        background-color: $background-color-tablet;
        max-width: 90rem;
    }

    .container {
        max-width: 90rem;
    }

    #pod-logo {
        margin-left: 10.3125rem;
        margin-top: 6.375rem;
    }

    .content {
        margin-right: 34.5rem;
        margin-top: 3.125rem
    }

    h1 {
        padding-left: 0;
        margin-left: 10.3125rem;
        font-size: 3.25rem;
        line-height: 3.875rem;
        margin-right: 3.625rem;
    }

    .description {
        margin-left: 10.3125rem;
        margin-right: 17.375rem;
    }

    #email, .form-error {
        margin-left: 10.3125rem;
    }

    button {
        margin-left: 7.8125rem;
        bottom: 11.25rem;
    }

    .streaming {
        margin-left: 10.3125rem;
        margin-top: 3.1875rem;
    }

    footer {
        position: relative;
        width: 14.5rem;
        height: 6.5rem;
        top: 0;
        margin: -10% 70% 0 82%;
    }
}

